* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0 auto;
  font-family: "Acumin-pro", sans-serif;
  color: #696B76;
  border-top: 5px solid #5275CF;
  line-height: 2.5rem;
}
body a {
  color: #97afed;
  transition: all 0.2s ease;
  font-family: "Soleil", sans-serif;
}
body a:link {
  text-decoration: none;
}
body ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
body h1 {
  font-weight: 600;
}
body h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
body p {
  padding-bottom: 2rem;
  line-height: 1.8rem;
}
body .hide {
  visibility: hidden !important;
}
@media (min-width: 450px) {
  body {
    border-top: 0;
  }
}
main {
  width: 100%;
  padding-top: 5rem;
}
header {
  background: linear-gradient(to bottom, #ffffff, #f4f8ff);
}
header nav {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
header nav #avatar {
  width: 70px;
  margin: 1.5rem;
}
header nav #avatar img {
  height: 75px;
  padding: 0;
  transition: all 0.5s ease;
}
header nav ul {
  justify-content: flex-end;
  max-width: 400px;
  margin: 1.5rem 1.5rem 1.5rem auto;
  padding: 0;
  transition: all 0.5s ease;
}
header nav ul li {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.5s ease;
  padding-left: 3rem;
}
header nav ul li:first-of-type {
  padding-left: 0;
}
header nav ul a:hover {
  color: #5275CF;
  transition: all 0.2s ease-in-out;
}
header #nav_inactive {
  font-family: "Soleil", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #97afed;
}
header .sticky {
  position: fixed;
}
@media (min-width: 600px) {
  header #avatar {
    width: 100%;
    margin: 1.5rem 5rem;
  }
  header #avatar img {
    height: 100px;
    padding: 0;
  }
  header ul {
    margin-right: 3rem;
  }
}
@media (min-width: 900px) {
  header ul {
    margin-right: 6rem;
  }
}
.shrink {
  background-color: rgba(240, 243, 248, 0.9);
}
.shrink #avatar {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.shrink #avatar img {
  height: 40px;
}
.shrink ul {
  margin: 0 1.5rem 0 auto;
}
.shrink ul li {
  color: #767a85;
}
@media (min-width: 600px) {
  .shrink #avatar {
    margin-left: 5rem;
  }
  .shrink ul {
    margin: 0 3rem 0 auto;
  }
}
@media (min-width: 900px) {
  .shrink ul {
    margin: 0 6rem 0 auto;
  }
}
.hero {
  width: 100%;
  height: 350px;
  padding-top: 7rem;
  transition: all 0.5s ease;
}
.uvp {
  margin: 0 auto;
  padding: 5rem 2rem;
  text-align: center;
  transition: all 0.5s ease;
}
.uvp h1 {
  font-family: "Soleil", sans-serif;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 2.1rem;
  padding: 0;
  color: #9d9fa8;
  transition: all 0.5s ease;
}
.uvp span {
  color: #5275CF;
  color: #696B76;
  transition: all 0.5s ease;
}
.uvp .underline {
  background-image: linear-gradient(130deg, #C3D4FF 0%, #DAE8FC 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.uvp .underline:hover {
  background-size: 100% 88%;
}
@media (min-width: 400px) {
  .hero .uvp {
    margin: 0 auto;
    max-width: 400px;
  }
  .hero .uvp h1 {
    font-size: 1.3rem;
    line-height: 2.25rem;
    transition: all 0.5s ease;
  }
}
@media (min-width: 700px) {
  .hero .uvp {
    width: 100%;
    max-width: 700px;
    margin: 0;
    padding: 5rem;
  }
  .hero .uvp h1 {
    width: 80%;
    margin: 0;
    padding-left: 1rem;
    text-align: left;
    transition: all 0.5s ease;
  }
}
@media (min-width: 1000px) {
  .hero .uvp h1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 90%;
    padding-left: 3rem;
    transition: all 0.5s ease;
  }
}
@media (min-width: 1400px) {
  .hero .uvp h1 {
    font-size: 1.75rem;
    line-height: 2.75rem;
    padding-left: 12rem;
    transition: all 0.5s ease;
  }
}
.reverse {
  padding-top: 5rem;
}
.case-study {
  margin: 0 auto;
  max-width: 900px;
  padding: 3rem 3rem 5rem 3rem;
}
.case-study .link {
  padding: 0;
}
.case-study #qb-image {
  display: flex;
  justify-content: center;
}
.case-study #qb-image img {
  height: 300px;
  transition: all 1s ease;
}
.case-study #rvway-image {
  display: flex;
  justify-content: center;
}
.case-study #rvway-image img {
  height: 200px;
  transition: all 1s ease;
}
.case-study .case-title {
  font-family: "Soleil", sans-serif;
  color: #6685d5;
  line-height: 2rem;
  padding-top: 2rem;
}
.case-study .case-desc {
  line-height: 2rem;
}
@media (min-width: 600px) {
  .case-study .case-text {
    width: 500px;
    margin: 0 auto;
  }
  .case-study .case-text .case-title {
    padding: 1rem 0;
  }
  .case-study .case-text .case-desc {
    padding-bottom: 2rem;
  }
  .case-study #rvway-image {
    padding: 0;
  }
  .case-study #rvway-image img {
    height: 250px;
  }
}
@media (min-width: 900px) {
  .case-study {
    display: flex;
    justify-content: center;
    width: 85%;
    padding-bottom: 10rem;
  }
  .case-study #qb-image {
    padding: 0;
  }
  .case-study #qb-image img {
    height: 300px;
    padding-left: 2rem;
  }
  .case-study #rvway-image {
    padding: 0;
  }
  .case-study #rvway-image img {
    height: 250px;
    padding-right: 1rem;
  }
  .case-study .case-text {
    margin: 0;
    width: 50%;
  }
  .case-study .case-text .case-title {
    margin-bottom: 1rem;
    padding: 0;
  }
}
.case-study .link {
  padding: 1rem 0;
}
.case-study .link a:link {
  font-size: 1.25rem;
  font-weight: 500;
}
.case-study button {
  font-size: 0.8rem;
  font-family: "Acumin-pro", sans-serif;
  font-weight: 500;
  padding: 0.75rem 2rem;
  background-color: #ffffff;
  border-color: #7D99E1;
  border-radius: 25px;
  color: #567DE1;
  transition: all 0.5s ease;
}
.case-study button:hover {
  background-color: #567DE1;
  color: white;
}
@media (min-width: 900px) {
  .reverse {
    flex-direction: row-reverse;
    align-items: center;
  }
}
.connect {
  width: 100%;
  padding: 3rem 0;
  color: #EBEEF4;
  background-color: #5275CF;
  font-family: "Soleil", sans-serif;
  text-align: center;
}
.connect .blurb {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5rem;
  font-weight: 300;
}
.connect h1 {
  font-family: "Soleil", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}
.connect #email {
  color: #EBEEF4;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin: 0;
}
.connect .social {
  width: 100%;
  text-align: center;
}
.connect .social .fab {
  padding: 0 1.25rem;
  font-size: 2rem;
  color: #EBEEF4;
}
.connect .social .fab:hover {
  color: #FFFF F;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
  -moz-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
  -ms-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
  -o-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
  filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
}
.connect .social i {
  vertical-align: bottom;
}
@media (min-width: 500px) {
  .connect h1 {
    margin-bottom: 1rem;
    transition: all 0.5s ease;
  }
  .connect .blurb {
    font-size: 1.2rem;
  }
  .connect #email {
    font-size: 1.25rem;
    transition: all 0.5s ease;
  }
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: #F4F8FF;
  padding: 0 2rem;
}
footer ul {
  padding: 2rem 0;
  text-align: center;
}
footer ul li {
  color: #696B76;
  font-size: 0.75rem;
  vertical-align: middle;
}
footer ul li img {
  width: auto;
  height: 15px;
  vertical-align: middle;
}
@media (min-width: 500px) {
  footer ul {
    max-width: 400px;
  }
  footer ul li {
    font-size: 0.9rem;
  }
}
.center {
  text-align: center;
  margin: 0 auto;
}
.case {
  padding-top: 10rem;
  max-width: 1100px;
  margin: 0 auto;
}
.case img {
  width: 100%;
}
.case .case-about {
  padding-bottom: 2rem;
}
.case .case-title {
  padding-top: 2rem;
  margin: 0;
}
.case .highlight {
  width: 80%;
  background-color: #F8F9FB;
  margin: 0 auto;
}
.case .subtitle {
  font-family: "Soleil", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.case .subtitle-colored {
  font-family: "Soleil", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #7a95da;
}
.case .sidebar-title {
  font-family: "Soleil", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #7a95da;
}
.case .sketch {
  display: flex;
  overflow: hidden;
}
.case .sketch img {
  height: 300px;
}
.case .white-space {
  padding: 2rem;
}
@media (min-width: 800px) {
  .case .case-about {
    width: 80%;
    margin: 0 auto;
  }
  .case img {
    width: 60%;
  }
  .case .text-right {
    display: flex;
    flex-direction: row-reverse;
  }
  .case .text-indent {
    margin: 4rem 0 4rem 10rem;
    border-left: 3px solid #5275CF;
    padding-top: 0;
    padding-bottom: 0;
  }
  .case .text-left {
    display: flex;
    justify-content: center;
    margin: 5rem auto;
    padding: 2rem 2rem;
    border-top: solid 3px #ffffff;
    border-bottom: solid 3px #ffffff;
  }
  .case .subtitle-colored {
    padding-right: 5rem;
  }
  .case .sidebar-title {
    padding-right: 0;
    padding-left: 5rem;
  }
  .case .sidebar-title p {
    text-align: center;
  }
  .case .image-overflow img {
    width: 100%;
  }
  .case .sketch {
    width: 100%;
  }
  .case .sketch img {
    width: 35%;
  }
}
/*# sourceMappingURL=./quest-best.css.map */