* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0 auto;
  font-family: "Acumin-pro", sans-serif;
  color: #696B76;
  border-top: 5px solid #5275CF;
  line-height: 2.5rem;
}
body a {
  color: #97afed;
  transition: all 0.2s ease;
  font-family: "Soleil", sans-serif;
}
body a:link {
  text-decoration: none;
}
body ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
body h1 {
  font-weight: 600;
}
body h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
body p {
  padding-bottom: 2rem;
  line-height: 1.8rem;
}
body .hide {
  visibility: hidden !important;
}
@media (min-width: 450px) {
  body {
    border-top: 0;
  }
}
main {
  width: 100%;
  padding-top: 5rem;
}
header {
  background: linear-gradient(to bottom, #ffffff, #f4f8ff);
}
header nav {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
header nav #avatar {
  width: 70px;
  margin: 1.5rem;
}
header nav #avatar img {
  height: 75px;
  padding: 0;
  transition: all 0.5s ease;
}
header nav ul {
  justify-content: flex-end;
  max-width: 400px;
  margin: 1.5rem 1.5rem 1.5rem auto;
  padding: 0;
  transition: all 0.5s ease;
}
header nav ul li {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.5s ease;
  padding-left: 3rem;
}
header nav ul li:first-of-type {
  padding-left: 0;
}
header nav ul a:hover {
  color: #5275CF;
  transition: all 0.2s ease-in-out;
}
header #nav_inactive {
  font-family: "Soleil", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #97afed;
}
header .sticky {
  position: fixed;
}
@media (min-width: 600px) {
  header #avatar {
    width: 100%;
    margin: 1.5rem 5rem;
  }
  header #avatar img {
    height: 100px;
    padding: 0;
  }
  header ul {
    margin-right: 3rem;
  }
}
@media (min-width: 900px) {
  header ul {
    margin-right: 6rem;
  }
}
.shrink {
  background-color: rgba(240, 243, 248, 0.9);
}
.shrink #avatar {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.shrink #avatar img {
  height: 40px;
}
.shrink ul {
  margin: 0 1.5rem 0 auto;
}
.shrink ul li {
  color: #767a85;
}
@media (min-width: 600px) {
  .shrink #avatar {
    margin-left: 5rem;
  }
  .shrink ul {
    margin: 0 3rem 0 auto;
  }
}
@media (min-width: 900px) {
  .shrink ul {
    margin: 0 6rem 0 auto;
  }
}
.hero {
  width: 100%;
  height: 350px;
  padding-top: 7rem;
  transition: all 0.5s ease;
}
.uvp {
  margin: 0 auto;
  padding: 5rem 2rem;
  text-align: center;
  transition: all 0.5s ease;
}
.uvp h1 {
  font-family: "Soleil", sans-serif;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 2.1rem;
  padding: 0;
  color: #9d9fa8;
  transition: all 0.5s ease;
}
.uvp span {
  color: #5275CF;
  color: #696B76;
  transition: all 0.5s ease;
}
.uvp .underline {
  background-image: linear-gradient(130deg, #C3D4FF 0%, #DAE8FC 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.uvp .underline:hover {
  background-size: 100% 88%;
}
@media (min-width: 400px) {
  .hero .uvp {
    margin: 0 auto;
    max-width: 400px;
  }
  .hero .uvp h1 {
    font-size: 1.3rem;
    line-height: 2.25rem;
    transition: all 0.5s ease;
  }
}
@media (min-width: 700px) {
  .hero .uvp {
    width: 100%;
    max-width: 700px;
    margin: 0;
    padding: 5rem;
  }
  .hero .uvp h1 {
    width: 80%;
    margin: 0;
    padding-left: 1rem;
    text-align: left;
    transition: all 0.5s ease;
  }
}
@media (min-width: 1000px) {
  .hero .uvp h1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 90%;
    padding-left: 3rem;
    transition: all 0.5s ease;
  }
}
@media (min-width: 1400px) {
  .hero .uvp h1 {
    font-size: 1.75rem;
    line-height: 2.75rem;
    padding-left: 12rem;
    transition: all 0.5s ease;
  }
}
.reverse {
  padding-top: 5rem;
}
.case-study {
  margin: 0 auto;
  max-width: 900px;
  padding: 3rem 3rem 5rem 3rem;
}
.case-study .link {
  padding: 0;
}
.case-study #qb-image {
  display: flex;
  justify-content: center;
}
.case-study #qb-image img {
  height: 300px;
  transition: all 1s ease;
}
.case-study #rvway-image {
  display: flex;
  justify-content: center;
}
.case-study #rvway-image img {
  height: 200px;
  transition: all 1s ease;
}
.case-study .case-title {
  font-family: "Soleil", sans-serif;
  color: #6685d5;
  line-height: 2rem;
  padding-top: 2rem;
}
.case-study .case-desc {
  line-height: 2rem;
}
@media (min-width: 600px) {
  .case-study .case-text {
    width: 500px;
    margin: 0 auto;
  }
  .case-study .case-text .case-title {
    padding: 1rem 0;
  }
  .case-study .case-text .case-desc {
    padding-bottom: 2rem;
  }
  .case-study #rvway-image {
    padding: 0;
  }
  .case-study #rvway-image img {
    height: 250px;
  }
}
@media (min-width: 900px) {
  .case-study {
    display: flex;
    justify-content: center;
    width: 85%;
    padding-bottom: 10rem;
  }
  .case-study #qb-image {
    padding: 0;
  }
  .case-study #qb-image img {
    height: 300px;
    padding-left: 2rem;
  }
  .case-study #rvway-image {
    padding: 0;
  }
  .case-study #rvway-image img {
    height: 250px;
    padding-right: 1rem;
  }
  .case-study .case-text {
    margin: 0;
    width: 50%;
  }
  .case-study .case-text .case-title {
    margin-bottom: 1rem;
    padding: 0;
  }
}
.case-study .link {
  padding: 1rem 0;
}
.case-study .link a:link {
  font-size: 1.25rem;
  font-weight: 500;
}
.case-study button {
  font-size: 0.8rem;
  font-family: "Acumin-pro", sans-serif;
  font-weight: 500;
  padding: 0.75rem 2rem;
  background-color: #ffffff;
  border-color: #7D99E1;
  border-radius: 25px;
  color: #567DE1;
  transition: all 0.5s ease;
}
.case-study button:hover {
  background-color: #567DE1;
  color: white;
}
@media (min-width: 900px) {
  .reverse {
    flex-direction: row-reverse;
    align-items: center;
  }
}
.connect {
  width: 100%;
  padding: 3rem 0;
  color: #EBEEF4;
  background-color: #5275CF;
  font-family: "Soleil", sans-serif;
  text-align: center;
}
.connect .blurb {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5rem;
  font-weight: 300;
}
.connect h1 {
  font-family: "Soleil", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}
.connect #email {
  color: #EBEEF4;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin: 0;
}
.connect .social {
  width: 100%;
  text-align: center;
}
.connect .social .fab {
  padding: 0 1.25rem;
  font-size: 2rem;
  color: #EBEEF4;
}
.connect .social .fab:hover {
  color: #FFFF F;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
  -moz-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
  -ms-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
  -o-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
  filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
}
.connect .social i {
  vertical-align: bottom;
}
@media (min-width: 500px) {
  .connect h1 {
    margin-bottom: 1rem;
    transition: all 0.5s ease;
  }
  .connect .blurb {
    font-size: 1.2rem;
  }
  .connect #email {
    font-size: 1.25rem;
    transition: all 0.5s ease;
  }
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: #F4F8FF;
  padding: 0 2rem;
}
footer ul {
  padding: 2rem 0;
  text-align: center;
}
footer ul li {
  color: #696B76;
  font-size: 0.75rem;
  vertical-align: middle;
}
footer ul li img {
  width: auto;
  height: 15px;
  vertical-align: middle;
}
@media (min-width: 500px) {
  footer ul {
    max-width: 400px;
  }
  footer ul li {
    font-size: 0.9rem;
  }
}
.rvway {
  background-color: #E2FAFF;
  padding: 5rem 0;
}
.rvway #rvway-title {
  max-width: 70%;
  margin: 0 auto;
  padding-top: 4rem;
}
.rvway #rvway-title h1 {
  font-family: "Soleil", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
  transition: all 0.5s ease;
}
.rvway #rvway-img {
  display: flex;
  justify-content: center;
}
.rvway #rvway-img img {
  height: 150px;
  transition: all 0.5s ease;
}
@media (min-width: 300px) {
  .rvway #rvway-title h1 {
    width: 95%;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-bottom: 2rem;
    transition: all 0.5s ease;
  }
  .rvway #rvway-img img {
    height: 240px;
    transition: all 0.5s ease;
  }
}
@media (min-width: 600px) {
  .rvway {
    padding-bottom: 10rem;
  }
  .rvway #rvway-title h1 {
    margin: 0 auto;
    font-size: 2rem;
    line-height: 2.75rem;
    text-align: center;
    transition: all 0.5s ease;
  }
  .rvway #rvway-img img {
    height: 320px;
    transition: all 0.5s ease;
  }
}
@media (min-width: 900px) {
  .rvway {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px !important;
    padding-bottom: 5rem;
  }
  .rvway #rvway-title {
    display: flex;
    align-items: center;
    max-width: 30%;
    margin: 5rem 0;
  }
  .rvway #rvway-title h1 {
    font-size: 2.25rem;
    line-height: 3.25rem;
    text-align: left;
    margin: 0 2rem;
    transition: all 0.5s ease;
  }
  .rvway #rvway-img {
    padding-top: 5rem;
  }
  .rvway #rvway-img img {
    height: 400px;
    transition: all 0.5s ease;
  }
}
main .p-container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
main .p-container .section-title h2 {
  font-size: 1.6rem;
  color: #1FB1D1;
  padding-bottom: 1rem;
  line-height: 2rem;
}
main .p-container .section-content h4 {
  font-size: 1.1rem;
  font-weight: 600;
}
@media (min-width: 600px) {
  main .p-container {
    width: 80%;
  }
  main .p-container .section-title h2 {
    font-size: 1.8rem;
  }
}
@media (min-width: 900px) {
  main .p-container {
    width: 75%;
  }
}
@media (min-width: 1000px) {
  main .p-container {
    width: 60%;
    max-width: 65%;
  }
}
main .p-container .figure img {
  width: 900px;
  padding-bottom: 2rem;
}
main .p-container .three-column {
  padding-top: 1rem;
  text-align: center;
}
@media (min-width: 600px) {
  main .p-container .three-column {
    display: flex;
    justify-content: space-around;
  }
  main .p-container .three-column .three-column .column {
    padding: 0 2rem;
  }
  main .p-container .three-column .three-column .column p {
    padding: 0.5rem 0;
  }
}
main .p-container .painpoints,
main .p-container .wants {
  padding-bottom: 2rem;
}
main .p-container .painpoints h3,
main .p-container .wants h3 {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
main .p-container .painpoints ul,
main .p-container .wants ul {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 160px;
}
main .p-container .painpoints ul li,
main .p-container .wants ul li {
  flex-shrink: 0;
  font-size: 1rem;
  padding: 0 1rem;
  margin: 4px;
  border-radius: 1.2rem;
}
main .p-container .painpoints li {
  background-color: #f8e9dd;
}
main .p-container .wants li {
  background-color: #D4F0F6;
}
main .p-container .highlight {
  width: 80%;
  border-left: 6px solid #1FB1D1;
  padding-left: 2rem;
  margin: 1rem 0rem 2rem 2rem;
}
main .p-container .highlight p {
  font-family: "Soleil", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  color: #868996;
  line-height: 2.25rem;
}
main .p-container .highlight .yes-no {
  display: flex;
  width: 100%;
}
main .p-container .highlight .yes-no .yes,
main .p-container .highlight .yes-no .no {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
}
main .p-container .highlight .yes-no .yes h3,
main .p-container .highlight .yes-no .no h3 {
  font-size: 1.4rem;
}
main .p-container .highlight .yes-no .yes p,
main .p-container .highlight .yes-no .no p {
  color: #696B76;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
  line-height: 0;
  padding-top: 1rem;
}
main .p-container .highlight .yes-no .yes {
  background-color: #D4F0F6;
}
main .p-container .highlight .yes-no .no {
  background-color: #f8e9dd;
}
main .card-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
main .card-container .card {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #EBFCFF;
}
main .card-container .card .card-title {
  width: 85%;
  font-weight: 600;
  border-bottom: 1px solid #D3E8EC;
}
main .card-container .card .card-text {
  width: 80%;
  padding-top: 1rem;
}
main .card-container .card .card-text p {
  padding: 0;
}
@media (min-width: 600px) {
  main .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
  }
  main .card-container .card {
    min-height: 180px;
    margin-right: 1rem;
  }
}
.connect {
  background-color: #333642 !important;
}
.connect p,
.connect h1 {
  color: rgba(235, 238, 244, 0.8) !important;
}
/*# sourceMappingURL=./rvway.css.map */