body {
  margin: 0 auto;
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  color: #41424a;
  line-height: 2rem;
  border-top: 5px solid #3c3c7d;
}
body a {
  color: #787584;
}
body a:link {
  text-decoration: none;
}
body a:hover {
  color: #4d4d9f;
  font-weight: 500;
}
body ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media (min-width: 450px) {
  body {
    border-top: 0;
  }
}
main {
  max-width: 1000px;
  margin: 0 auto;
}
header {
  background: linear-gradient(to bottom, #ffffff, #eef3ff);
  padding: 0 1rem;
}
header nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}
header nav ul {
  font-family: "Montserrat", sans-serif;
  padding: 0 1rem;
}
header nav #nav_inactive {
  color: #8b8d99;
  font-weight: 600;
}
header nav .sticky {
  position: fixed;
}
@media (min-width: 600px) {
  header nav ul {
    justify-content: flex-end;
  }
  header nav li {
    padding-left: 4rem;
  }
}
header #avatar {
  padding-top: 5rem;
}
header #avatar img {
  height: 250px;
}
header .uvp {
  margin: 0 auto;
  padding: 0 1rem 5rem 1rem;
}
header .uvp h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  letter-spacing: -1px;
  line-height: 2.5rem;
  padding: 0;
  color: #3c3c7d;
}
header .uvp p {
  color: #595a65;
}
header .uvp p span {
  font-weight: 500;
}
@media (min-width: 600px) {
  header .hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10rem 0;
  }
  header .hero #avatar {
    padding: 5rem 2rem;
  }
  header .hero .uvp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 500px;
    margin: 0;
    padding: 0;
  }
  header .hero .uvp h1 {
    margin: 0;
    font-size: 2.75rem;
  }
  header .hero .uvp p {
    width: 75%;
  }
}
.case-study {
  padding: 5rem 2rem 5rem 2rem;
}
.case-study #qb-image {
  display: flex;
  justify-content: center;
  width: 100%;
}
.case-study #qb-image img {
  height: 250px;
  width: auto;
}
.case-study #sd-image {
  display: flex;
  justify-content: center;
}
.case-study #sd-image img {
  height: 250px;
  width: auto;
}
@media (min-width: 800px) {
  .case-study {
    display: flex;
  }
  .case-study #qb-image {
    align-self: center;
  }
  .case-study #sd-image {
    align-self: center;
    padding: 0 2rem;
  }
}
@media (min-width: 700px) {
  .reverse {
    flex-direction: row-reverse;
  }
}
.link {
  padding: 1rem 0;
}
.link a:link {
  font-size: 1.25rem;
  font-weight: 500;
}
button {
  font-size: 1rem;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  padding: 1rem 2rem;
  border-color: #5659e0;
  border-radius: 25px;
  color: #4246c8;
}
button:hover {
  background-color: #4246c8;
  color: white;
}
main .section-heading {
  margin: 2rem;
  padding-top: 4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  letter-spacing: -0.9px;
  line-height: 2.5rem;
  color: #3c3c7d;
}
main .about-text {
  margin: 2rem;
}
main .joanne-drawing {
  display: flex;
}
main .joanne-drawing img {
  height: 300px;
  padding: 0 2rem;
  margin: 0;
}
@media (min-width: 860px) {
  main .about-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  main .about-content .about-title {
    width: 80%;
  }
  main .about-content .about-title h1 {
    letter-spacing: 0.5px;
  }
  main .about-content .about-text {
    padding-top: 3rem;
    padding-right: 2rem;
  }
  main .bottom {
    display: flex;
  }
  main .bottom .joanne-drawing img {
    padding-left: 2rem;
  }
  main .bottom .connect {
    border-top: 0;
    width: 100%;
  }
}
.case-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  line-height: 2rem;
}
.case-title span {
  font-weight: 600;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.case {
  padding: 2rem;
}
.case img {
  width: 100%;
}
.case .case-about {
  padding-bottom: 2rem;
}
.case .case-title {
  padding-top: 2rem;
  margin: 0;
}
.case .highlight {
  width: 80%;
  border-top: solid 3px #efeef0;
  border-bottom: solid 3px #efeef0;
  margin: 2rem auto;
}
.case .subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}
.case .sidebar-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #4d4d9f;
}
.case .sketch {
  display: flex;
}
.case .sketch img {
  width: 35%;
}
.case .white-space {
  padding: 2rem;
}
@media (min-width: 800px) {
  .case .case-about {
    width: 80%;
    margin: 0 auto;
  }
  .case img {
    width: 60%;
  }
  .case .sidebar-title {
    padding-right: 4rem;
  }
  .case .sidebar-title p {
    text-align: center;
  }
  .case .text-right {
    display: flex;
    flex-direction: row-reverse;
  }
  .case .text-indent {
    margin: 4rem 0 4rem 10rem;
    border-left: 3px solid #3c3c7d;
    padding-top: 0;
    padding-bottom: 0;
  }
  .case .text-left {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
  }
  .case .sidebar-title {
    padding-right: 2rem;
    padding-left: 0;
  }
  .case .image-overflow img {
    width: 100%;
  }
  .case .sketch {
    width: 100%;
  }
  .case .sketch img {
    width: 35%;
  }
}
.connect {
  padding: 5rem 2rem;
  border-top: solid 3px #efeef0;
  text-align: center;
}
.connect .blurb {
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  letter-spacing: -0.1px;
  line-height: 2rem;
}
.connect h1 {
  margin: 3rem 0 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: #3c3c7d;
}
.connect #email {
  color: #787584;
  font-size: 1.25rem;
  text-align: center;
  margin: 0 0 0.5rem 0;
}
.connect .social {
  display: inline;
  font-size: 1.25rem;
  padding: 1.5rem;
}
footer {
  display: flex;
  background-color: #eef3ff;
  padding: 0 2rem;
}
footer ul {
  padding: 2rem 0;
  text-align: center;
}
footer ul li {
  color: #787584;
  font-size: 0.9rem;
  vertical-align: middle;
}
footer ul li img {
  width: auto;
  height: 25px;
  vertical-align: middle;
}
@media (min-width: 550px) {
  footer ul {
    justify-content: center;
  }
  footer li {
    padding-left: 2rem;
  }
}
