body {
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
  color: #41424A;
  line-height: 1.7rem;
  border-top: 5px solid #3C3C7D;
}
body a {
  color: #787584;
}
body a:link {
  text-decoration: none;
}
body a:hover {
  color: #4d4d9f;
  font-weight: 500;
}
body ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media (min-width: 450px) {
  body {
    border-top: 0;
  }
}
header {
  background: linear-gradient(to bottom, #ffffff, #eef3ff);
  padding: 0 1rem;
}
header nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}
header nav ul {
  font-family: 'Montserrat', sans-serif;
  padding: 0 1rem;
}
header nav #nav_inactive {
  color: #8b8d99;
  font-weight: 600;
}
@media (min-width: 450px) {
  header nav ul {
    justify-content: flex-end;
  }
  header nav li {
    padding-left: 4rem;
  }
}
header #avatar {
  padding-top: 10rem;
}
header #avatar img {
  height: 250px;
}
header .uvp {
  margin: 0 auto;
  padding: 0 1rem 10rem 1rem;
}
header .uvp h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25rem;
  letter-spacing: -1px;
  line-height: 2.5rem;
  padding: 0;
  color: #3C3C7D;
}
header .uvp p {
  color: #595a65;
}
header .uvp p span {
  font-weight: 500;
}
@media (min-width: 600px) {
  header .hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10rem 0;
  }
  header .hero #avatar {
    padding: 0 2rem;
  }
  header .hero .uvp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 500px;
    margin: 0;
    padding: 0;
  }
  header .hero .uvp h1 {
    margin: 0;
    font-size: 2.75rem;
  }
  header .hero .uvp p {
    width: 75%;
  }
}
main .section-heading {
  margin: 2rem;
  padding-top: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: -0.9px;
  line-height: 2.5rem;
  color: #3C3C7D;
}
main .about-text {
  margin: 2rem;
}
main .joanne-drawing {
  display: flex;
}
main .joanne-drawing img {
  width: 40%;
  max-width: 150px;
  padding: 0 2rem;
  margin: 0;
}
@media (min-width: 860px) {
  main .about-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  main .about-content .about-title {
    width: 80%;
  }
  main .about-content .about-title h1 {
    letter-spacing: .5px;
  }
  main .about-content .about-text {
    padding-top: 3rem;
    padding-right: 2rem;
  }
  main .bottom {
    display: flex;
  }
  main .bottom .joanne-drawing img {
    width: 100%;
    max-width: 200px;
    padding-left: 2rem;
  }
  main .bottom .connect {
    border-top: 0;
    width: 100%;
  }
}
.case-study {
  padding: 5rem 2rem;
}
@media (min-width: 700px) {
  .case-study {
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
  }
}
.case-study .case-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  line-height: 2rem;
}
.case-study .case-title span {
  font-weight: 600;
}
.case-study .link {
  padding: 1rem 0;
}
.case-study .link a:link {
  font-size: 1.25rem;
  font-weight: 500;
}
.case-study button {
  font-size: 1rem;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  padding: 1rem 2rem;
  border-color: #5659E0;
  border-radius: 25px;
}
.case-study button a {
  color: #4246C8;
}
.case-study button:hover {
  background-color: #4246C8;
}
.case-study a:hover {
  color: white;
}
#qb-image {
  display: flex;
  justify-content: center;
}
#qb-image img {
  width: 40%;
  max-width: 200px;
}
#sd-image {
  display: flex;
  justify-content: center;
}
#sd-image img {
  width: 80%;
  max-width: 500px;
}
.connect {
  padding: 5rem 2rem;
  border-top: solid 3px #efeef0;
  text-align: center;
}
.connect .blurb {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  letter-spacing: -0.1px;
  text-align: center;
  line-height: 2rem;
}
.connect h1 {
  margin: 3rem 0 1rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: #3C3C7D;
}
.connect #email {
  font-size: 1.25rem;
  text-align: center;
  margin: 0 0 .5rem 0;
}
.connect .social {
  display: inline;
  font-size: 1.25rem;
  padding: 1.5rem;
}
footer {
  display: flex;
  background-color: #EEF3FF;
  padding: 0 2rem;
}
footer ul {
  padding: 2rem 0;
  text-align: center;
}
footer ul li {
  font-size: 0.9rem;
  vertical-align: middle;
}
footer ul li img {
  width: auto;
  height: 25px;
  vertical-align: middle;
}
@media (min-width: 550px) {
  footer ul {
    justify-content: center;
  }
  footer li {
    padding-left: 2rem;
  }
}
