@import "variables2.less";

// General styles
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  font-family: @font-body;
  color: @text-body;
  border-top: 5px solid @primary-color;
  line-height: 2.5rem;

  a {
    color: lighten(@link-color, 15%);
    transition: all 0.2s ease;
    font-family: @font-heading;
  }

  a:link {
    text-decoration: none;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  h1 {
    font-weight: 600;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  p {
    font-size: 1.1rem;
    padding-bottom: 2rem;
    line-height: 1.8rem;
  }

  .hide {
    visibility: hidden !important;
  }

  @media (min-width: 450px) {
    border-top: 0;
  }
}

main {
  width: 100%;
  padding-top: 4rem;
}

// End of general styles

// Header for all pages
header {
  background: @gradient;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s ease;

    #avatar {
      width: 70px;
      margin: 1.5rem;
      img {
        height: 75px;
        padding: 0;
        transition: all 0.5s ease;
      }
    }

    ul {
      justify-content: flex-end;
      max-width: 400px;
      margin: 1.5rem 3rem;
      padding: 0;
      transition: all 0.5s ease;
      li {
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        transition: all 0.5s ease;
        padding-left: 3rem;
      }
      li:first-of-type {
        padding-left: 0;
      }
      a:hover {
        color: @primary-color;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  #nav_inactive {
    font-family: @font-heading;
    font-size: 1.1rem;
    font-weight: 600;
    color: lighten(@link-color, 15%);
  }

  .sticky {
    position: fixed;
  }

  @media (min-width: 200px) and (max-width: 500px) {
    #avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      margin: 1rem !important;
      img {
        height: 50px !important;
      }
    }
    ul {
      margin: 0 3rem 0 auto !important;
    }
  }
  @media (min-width: 600px) {
    #avatar {
      width: 100%;
      margin: 1.5rem 5rem !important;
      img {
        height: 100px;
        padding: 0;
      }
    }
    ul {
      margin-right: 3rem !important;
    }
  }
  @media (min-width: 900px) {
    ul {
      margin-right: 6rem !important;
    }
  }
}

.shrink {
  background-color: rgba(240, 243, 248, 0.9);
  #avatar {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    img {
      height: 40px;
    }
  }
  ul {
    margin: 0 3rem 0 auto;
    li {
      color: #767a85;
    }
  }
  @media (min-width: 600px) {
    #avatar {
      margin-left: 5rem !important;
    }
    ul {
      margin: 0 3rem 0 auto;
    }
  }
  @media (min-width: 900px) {
    ul {
      margin: 0 6rem 0 auto;
    }
  }
}

// Hero section
.hero {
  width: 100%;
  height: auto;
  padding-top: 5rem;
  transition: all 0.5s ease;
}

.uvp {
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
  transition: all 0.5s ease;

  h1 {
    font-family: @font-heading;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    line-height: 2rem;
    padding: 0;
    margin: 0;
    color: lighten(@text-body, 20%);
    transition: all 0.5s ease;
  }
  span {
    color: @primary-color;
    color: @text-body;
    transition: all 0.5s ease;
  }

  .underline {
    background-image: linear-gradient(130deg, #c3d4ff 0%, #dae8fc 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.5rem;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    &:hover {
      background-size: 100% 88%;
    }
  }
}

// Media query 400px - hero section
@media (min-width: 400px) {
  .hero {
    .uvp {
      margin: 0 auto;
      max-width: 450px;
      h1 {
        line-height: 2.1rem;
        transition: all 0.5s ease;
      }
    }
  }
}
// Media query 700px - hero section
@media (min-width: 700px) {
  .hero {
    .uvp {
      width: 100%;
      max-width: 700px;
      margin: 0;
      h1 {
        width: 70%;
        margin: 0;
        padding-left: 4rem;
        text-align: left;
        transition: all 0.5s ease;
      }
    }
  }
}
// Media query 1000px - hero section
@media (min-width: 1000px) {
  .hero {
    .uvp {
      max-width: 800px;
      h1 {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding-left: 5rem;
        transition: all 0.5s ease;
      }
    }
  }
}
// Media query 1400px - hero section
@media (min-width: 1400px) {
  .hero {
    .uvp {
      max-width: 900px;
      h1 {
        width: 90%;
        font-size: 1.75rem;
        line-height: 2.75rem;
        padding-left: 12rem;
        transition: all 0.5s ease;
      }
    }
  }
}
// End of header all pages

// Home page case study
.reverse {
  padding-top: 5rem;
}

.case-study {
  margin: 0 auto;
  max-width: 900px;
  padding: 3rem 3rem 5rem 3rem;
  transition: all 0.5s ease;
  .link {
    padding: 0;
  }

  // Case study images
  #qb-image {
    display: flex;
    justify-content: center;
    img {
      height: 300px;
      transition: all 1s ease;
    }
  }
  #rvway-image {
    display: flex;
    justify-content: center;
    img {
      height: 200px;
      transition: all 1s ease;
    }
  }
  .case-title {
    font-family: @font-heading;
    color: lighten(@primary-color, 5%);
    line-height: 2rem;
    margin-bottom: 1.2rem;
    padding-top: 2rem;
  }
  .case-desc {
    line-height: 1.8rem;
    padding-bottom: 0;
  }

  // Media query 600px for homepage case study
  @media (min-width: 600px) {
    transition: all 0.5s ease;
    .case-text {
      width: 500px;
      margin: 0 auto;
      .case-title {
        margin: 0;
        padding-bottom: 1rem;
      }
      .case-desc {
        padding-bottom: 0;
      }
    }
    #rvway-image {
      padding: 0;
      align-items: center;
      img {
        height: 250px;
        margin-right: 1rem;
      }
    }
  }
  // Media query 900px for homepage case study
  @media (min-width: 900px) {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10rem;

    #qb-image {
      padding: 0;
      img {
        height: 300px;
        padding-left: 2rem;
        transition: all 0.5s ease;
      }
    }
    #rvway-image {
      padding: 0;
      img {
        height: 250px;
        padding-right: 1rem;
        transition: all 0.5s ease;
      }
    }
    .case-text {
      margin: 0;
      .case-title {
        margin-bottom: 1rem;
        padding: 0;
      }
    }
  }

  //Media query 1200px for case study section
  @media (min-width: 1200px) {
    padding: 3rem 0rem 5rem 0rem;
    transition: all 0.5s ease;
  }

  // Read case button
  .link {
    padding: 1rem 0;
    a:link {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }

  button {
    font-size: 0.8rem;
    font-family: @font-body;
    font-weight: 500;
    padding: 0.75rem 2rem;
    margin-top: 1.2rem;
    background-color: #ffffff;
    border-color: @border-color;
    border-radius: 5px;
    color: @link-color;
    transition: all 0.5s ease;
  }

  button:hover {
    background-color: @link-color;
    color: white;
  }
}

@media (min-width: 900px) {
  .reverse {
    flex-direction: row-reverse;
    align-items: center;
  }
}
// End of Home page case study

// Connect styles for all pages
.connect {
  width: 100%;
  padding: 3rem 0;
  color: @gray;
  background-color: @primary-color;
  font-family: @font-heading;
  text-align: center;

  .blurb {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5rem;
    font-weight: 300;
  }

  h1 {
    font-family: @font-heading;
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem;
  }

  #email {
    color: @gray;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
    margin: 0;
    padding-bottom: 1rem;
  }
  .social {
    width: 100%;
    text-align: center;
    .fab {
      padding: 0 1.25rem;
      font-size: 2rem;
      color: @gray;
    }
    .fab:hover {
      color: #ffffff;
      transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
      -moz-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
      -ms-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
      -o-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
      filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.9));
    }
    i {
      vertical-align: bottom;
    }
  }

  @media (min-width: 500px) {
    h1 {
      margin-bottom: 1rem;
      transition: all 0.5s ease;
    }

    .blurb {
      font-size: 1.2rem;
    }

    #email {
      font-size: 1.25rem;
      transition: all 0.5s ease;
    }
  }
}
// End of Connect styles for all pages

// Footer styling for all pages
footer {
  display: flex;
  justify-content: space-around;
  background-color: @footer-back;
  padding: 0 2rem;
  ul {
    padding: 2rem 0;
    text-align: center;
    li {
      color: @text-body;
      font-size: 0.75rem;
      vertical-align: middle;

      img {
        width: auto;
        height: 15px;
        vertical-align: middle;
      }
    }
  }

  // Footer media query
  @media (min-width: 500px) {
    ul {
      max-width: 400px;
      li {
        font-size: 0.9rem;
      }
    }
  }
}
