@import "variables2.less";
@import "styles.less";
@import "rvway2.less";

// Hero section
.rvway {
  background-color: #E2FAFF;
  padding: 5rem 0;
  #rvway-title {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 4rem;
    h1 {
      font-family: @font-heading;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
      text-align: center;
      transition: all 0.5s ease;
    }
  }
  #rvway-img {
    display: flex;
    justify-content: center;
    img {
      height: 150px;
      transition: all 0.5s ease;
    }
  }
  //Media query 300px
  @media (min-width: 300px) {
    #rvway-title {
      h1 {
        width: 95%;
        font-size: 1.6rem;
        line-height: 2.2rem;
        padding-bottom: 2rem;
        transition: all 0.5s ease;
      }
    }
    #rvway-img {
      img {
        height: 240px;
        transition: all 0.5s ease;
      }
    }
  }
  //Media query 600px
  @media (min-width: 600px) {
    padding-bottom: 10rem;
    #rvway-title {
      h1 {
        margin: 0 auto;
        font-size: 2rem;
        line-height: 2.75rem;
        text-align: center;
        transition: all 0.5s ease;
      }
    }
    #rvway-img {  
      img {
        height: 320px;
        transition: all 0.5s ease;
      }
    }
  }
  // Media query 900px
  @media (min-width: 900px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px !important;
    padding-bottom: 5rem;
    #rvway-title {
      display: flex;
      align-items: center;
      max-width: 30%;
      margin: 5rem 0;
      h1 {
        font-size: 2.25rem;
        line-height: 3.25rem;
        text-align: left;
        margin: 0 2rem;
        transition: all 0.5s ease;
      }
    }
    #rvway-img {
      padding-top: 5rem;
      img {
        height: 400px;
        transition: all 0.5s ease;
      }
    }
  }
}

// Main - case study content
main {
    //Section styling
    .p-container {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 4rem;
        .section-title {
            h2 {
                color: #1FB1D1;
                padding-bottom: 1rem;
            }
        }
        //Image styling under figure class
        .figure {
          img {
              width: 900px;
          }
        }
        //Project background
        .three-column {
          padding-top: 1rem;
          // flex wrap?

          // Media query 600px - three column
          @media (min-width: 600px) {
            display: flex;
            justify-content: space-around;
            .column {
              padding: 0 4rem;
              p {
                padding: 0.5rem 0;
              }
            }
          }
        }
        //The Big RV picture illustration
        .card-container {
          display: flex;
          justify-content: space-between;
          .card {
            display: flex;
            width: 250px;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            background-color: #EBFCFF;
            .card-title {
              width: 85%;
              font-weight: 600;
              border-bottom: 1px solid #D3E8EC;
            }
            .card-text {
              padding-top: .5rem;
              p {
                padding: 0;
              }
            }
          }
        }
     
        // Media query - section 600px
        @media (min-width: 600px) {
            width: 80%;
        }
        // Media query - section 1000px
        @media (min-width: 1000px) {
            width: 65%;
        }
    }
}