// Variables
@background-color: #FFFFFF;
@primary-color: #3C3C7D;
@text-body: #41424A;
@text-gray: #787584;
@link-color: #4246C8;
@accent-color: #5659E0;
@gradient: linear-gradient(to bottom, rgba(255,255,255,100), rgba(238,243,255,100));
@footer-back: #EEF3FF;
@font-heading: 'Montserrat', sans-serif;
@font-body: 'Red Hat Text', sans-serif;
@shadow: 0 4px 6px 0 rgba(34, 38, 42, .2);

// General styles
body {
    margin: 0;
    font-family: @font-body;
    font-size: 14px;
    color: @text-body;
    line-height: 1.7rem;
    border-top: 5px solid @primary-color;

    a {
        color: @text-gray;
    }

    a:link {
        text-decoration: none;
    }

    a:hover {
        color: lighten(@primary-color, 10%);
        font-weight: 500;
    }
   
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    @media (min-width: 450px) {
        border-top: 0;
    }
}

// Header for all pages
header {
    background: @gradient;
    padding: 0 1rem;

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 2rem;

        ul {
            font-family: @font-heading;
            padding: 0 1rem;
        }

        #nav_inactive {
            color: lighten(@text-body, 30%);
            font-weight: 500;
        }

        @media (min-width: 450px) {
            ul {
                justify-content: flex-end;
            }

            li {
                padding-left: 4rem;
            }
        }
    }    
    
    // Homepage
    #avatar {
        padding-top: 10rem;

        img {
            height: 250px;
       
        }
    }

    .uvp {
        margin: 0 auto;
        padding: 0 1rem 10rem 1rem;

        h1 {
            font-family: @font-heading;
            font-size: 2.25rem;
            letter-spacing: -1px;
            line-height: 2.5rem;
            padding: 0;
            color: @primary-color;
        }

        p { 
            color: lighten(@text-body, 10%);

            span {
                font-weight: 500;
            }
        }
    }

    // Hero section media query
    @media (min-width: 600px) {
        .hero {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 10rem 0;

            #avatar {
                padding: 0 2rem;
            }

            .uvp {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 80%;
                max-width: 500px;
                margin: 0;
                padding: 0;

                h1 {
                    margin: 0;
                }
            }
        }

    }
}

// About page styling
main {
    .about-title {
        margin: 2rem;
        padding-top: 4rem;
        font-family: @font-heading;
        font-size: 2rem;
        letter-spacing: -.9px;
        line-height: 2.5rem;
        color: @primary-color;
    }

    .about-text {
        margin: 2rem;
    }

    .joanne-drawing {
        display: flex;
        
        img {
            width: 40%;
            padding: 0 2rem;
            margin: 0;
        }
    }
}

// Home page case study
.case-study {
    padding: 5rem 2rem;

    // Media query for case study
    @media (min-width: 700px) {
        width: 70%;
        max-width: 700px;
        margin: 0 auto;
    }

    .title {
        font-family: @font-heading;
        font-size: 1.7rem;
        line-height: 2rem;

        span {
            font-weight: 600;
        }
    }

    // Read case button
    .link {
        padding: 1rem 0;
        a:link {
            font-size: 1.25rem;
            font-weight: 500;
        }
    }

    button {
        font-size: 1rem;
        font-family: @font-body;
        font-weight: 500;
        padding: 1rem 2rem;
        border-color: @accent-color;
        border-radius: 25px;

        a {
            color: @link-color;
        }
    }

    button:hover {
        background-color: @link-color;
    }

    a:hover {
        color: white;
    }
}

// Case study images
#qb-image {
    display: flex;
    justify-content: center;

    img {
        width: 40%;
        max-width: 200px;
    }
}

#sd-image {
    display: flex;
    justify-content: center;

    img {
        width: 80%;
        max-width: 500px;
    }
}

// Connect styles for all pages
.connect {
    padding: 5rem 2rem;
    border-top: solid 3px lighten(@text-gray, 45%);
    text-align: center;

    .blurb {
        font-family: @font-heading;
        font-size: 1.25rem;
        letter-spacing: -.1px;
        text-align: center;
        line-height: 2rem;
    }

    h1 {
        margin: 3rem 0 1rem 0;
        font-family: @font-heading;
        font-size: 2.5rem;
        text-align: center;
        color: @primary-color;
    }

    #email {
        font-size: 1.25rem;
        text-align: center;
        margin: 0 0 .5rem 0;
    }

    .social {
        display: inline;
        font-size: 1.25rem;
        padding: 1.5rem;
    }
}

// Footer styling for all pages
footer {
    background-color: @footer-back;
    padding: 0 2rem;
    ul {
        padding: 2rem 0;
        text-align: center;

        li {
            font-size: 0.9rem;
            vertical-align: middle;

            img {
                width: auto;
                height: 25px;
                vertical-align: middle;
            }
        }
    }

    // Footer media query
    @media (min-width: 550px) {
        ul {
            justify-content: center;
        }

        li {
            padding-left: 2rem;
        }
    }
}