// Home page case study
#main {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 5rem 0;
  font-family: 'Public Sans';
  display: grid;
  justify-content: center;
  > a {
    transition: all 0.5s ease;
    width: 100vw;
    height: 500px;
    padding: 0;
    margin-bottom: 2rem;
  }
}
.case-study-item-container {
  margin: 0 auto;
  max-width: 1120px;
  height: 500px;
  transition: all 2s ease;
  &:hover {
    transition: all 2s ease;
  }
}
.case-study-item {
  // Case study images
  height: 100%;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: 52% 48%;
  overflow: hidden;
  transition: all 2s ease;
  .case-study-image {
    grid-area: a;
    padding: 0;
    height: 100%;
    display: flex;
    overflow: hidden;
    img {
      object-fit: scale-down;
      width: 100%;
      transition: all 1s ease;
    }
  }

  .case-text {
    padding: 7rem 0 7rem 2rem;
    align-self: center;
    h2,
    p {
      color: #27344e;
    }
  }
  .case-title {
    font-family: @font-heading;
    color: lighten(@primary-color, 5%);
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 1.2rem;
  }
  .case-desc {
    line-height: 1.8rem;
    font-size: 1.125rem;
    padding-bottom: 0;
  }

  // Read case button
  .link {
    padding: 1rem 0;
    a:link {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
}

.reverse {
  grid-template-areas: 'b a';
  .case-text {
    padding: 7rem 1rem 7rem 0;
  }
}

@media (max-width: 1000px) {
  .case-study-item {
    grid-template-areas: 'b' 'a';
    grid-template-columns: unset !important;
    grid-template-rows: 50% 50%;
    transition: all 2s ease;
    .case-text {
      padding: 7rem 2rem !important;
      text-align: center;
    }
  }
}
// End of Home page case study
