// Home page case study
#main {
  width: 100%;
  padding: 5rem;
  font-family: 'Public Sans';
  display: grid;
  justify-content: center;
  > a {
    transition: all 0.5s ease;
    max-width: 900px;
    max-height: 450px;
    padding: 0;
    margin-bottom: 2rem;
  }
}
.case-study-item {
  // Case study images
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: 52% 48%;
  overflow: hidden;
  .case-study-image {
    grid-area: a;
    padding: 0;
    height: 100%;
    display: flex;
    overflow: hidden;
    img {
      width: 100%;
      transition: all 1s ease;
    }
  }

  .case-text {
    padding: 3rem;
    align-self: center;
    h2,
    p {
      color: #27344e;
    }
  }
  .case-title {
    font-family: @font-heading;
    color: lighten(@primary-color, 5%);
    line-height: 2rem;
    margin-bottom: 1.2rem;
  }
  .case-desc {
    line-height: 1.8rem;
    padding-bottom: 0;
  }

  // Read case button
  .link {
    padding: 1rem 0;
    a:link {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
}

.reverse {
  grid-template-areas: 'b a';
  img {
    height: 100%;
    width: unset !important;
  }
}

@media (max-width: 500px) {
  .case-study-item {
    grid-template-areas: 'b' 'a';
    grid-template-columns: unset !important;
    grid-template-rows: 50% 50%;
  }
}
// End of Home page case study
